/**
* YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
* http://cssreset.com
* Copyright 2012 Yahoo! Inc. All rights reserved.
* http://yuilibrary.com/license/
*/
/*
TODO will need to remove settings on HTML since we can't namespace it.
TODO with the prefix, should I group by selector or property for weight savings?
*/
html{
	color: #FFF;
	background: #272727;
}
/*
TODO remove settings on BODY since we can't namespace it.
TODO test putting a class on HEAD.
- Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,
img {
	border:0;
}
/*
TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style:normal;
	font-weight:normal;
}
 
ol,
ul {
	list-style:none;
}
 
caption,
th {
	text-align:left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,
q:after {
	content:'';
}
abbr,
acronym {
	border:0;
	font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input,
textarea,
select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
	*font-size:100%;
}
/*because legend doesn't inherit in IE */
legend {
	color:#000;
}
/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset { display: none; }

.cf:before, .cf:after { content: ""; display: block; }
.cf:after { clear: both; }
.ie6 .cf { zoom: 1 }



/*============================================
## SUNSMART
============================================*/

body h1 {
	font-size: 17px;
	font-weight: bold;
	line-height: 140%;
	color: orange;
}

#wrapper {
	width: 650px;
	min-height: 100px;
	margin: 0 auto;
	margin-top: 50px;
	color: #FFF;
}

#wrapper h1 {
	font-size: 26px;
	text-align: center;
}

#graph {
	background-color: #FFF;
	width: 100%;
	margin-top: 10px;
	color: #000;
	padding: 8px;
}

#graph-for h4 {
	font-weight: bold;
	float: left;
	margin-right: 10px;
	line-height: 150%;
}

#graph-for select {
	margin-right: 10px;
}

#graph-image {
	text-align: center;
}

#data {
	margin-top: 15px;
}

#data .datum {
	margin-bottom: 15px;
	padding: 10px;
}

#data .datum h2 {
	font-size: 18px;
	font-weight: bold;
	color: #292929;
	margin-bottom: 7px;
}